.navbar {
  height: 70px;
  background: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
}

.navbar h2 {
  color: #38bdf8;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;

    height: auto;

    padding: 20px;
  }

  .navbar ul {
    margin-top: 15px;

    gap: 15px;
  }
  .active {
  color: #38bdf8 !important;
}

}