body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    -45deg,
    #0f172a,
    #111827,
    #1e1b4b,
    #3b0764
  );

  background-size: 400% 400%;

  animation: gradientBG 12s ease infinite;

  color: white;

  /* font-family: sans-serif;  */
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}